* {
	margin: 0; padding: 0;
}

* {
	font-family: sans-serif;
}

.main_container {
	max-width: 768px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-around;
}

.text {
	font-size: 16px;
	line-height: 26px;
	color: #1F3F68;
}

.under_top_head {
	font-size: 16px;
	line-height: 26px;
	color: #1F3F68;
	width: 425px;
}

.card {
	width: 359px;
}

.cards {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.top_heading {
	font-size: 64px;
	color: #1F3F68;
	width: 510px;
}

.h2cls_contcts {
	font-weight: 500;
	font-size: 44px;
	text-align: center;
}

.heading {
	font-size: 36px;
	text-align: center;
}

.heading_mini {
	font-size: 20px;
	line-height: 30px;
	color: #1F3F68;
}

.inp {
	border: 1px solid #356EAD;
	box-sizing: border-box;
	border-radius: 10px;
	opacity: 0.4;
}

.buttons {
	background: #5A98D0;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
}

.footer_text {
	text-align: left;
}

.footer_container {
	justify-content: center;
	text-align: center;
	align-items: center;
}
	
.footer_top {
	width: 495px;
}

.heading_footer {
	width: 340px;
	text-align: left;
}

.footer_info {
	display: flex;
	justify-content: space-around;
	align-items: center;
}	


.ci_and_form {
	display: flex;
	justify-content: center;
}

.contacts_info {
	text-align: left;
}

.form {
	text-align: left;
}